body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  position: relative;
  top: 2em;
}

#game {
  position: relative;
}

.line {
  position: absolute;
  background: black;
}

.cell {
  position: absolute;
}
.empty {
  cursor: pointer;
}

.symbol {
  position: relative;
}

.message {
  margin-top: 3em;
  font-size: 1.2em;
  font-weight: bold;
  background: lightgray;
  padding: 0.5em;
}

button {
  margin-left: 2em;
}